/*GENERAL*/
*{
    padding: 0;
    margin: 0;
}

/*HEARDER*/

header{
    padding: 10px 30px 0px 40px;
    background-color:gray;
    height: 64px;
}
.logo
{
    font-style: italic;
    color: rgb(12, 20, 134);
    font-weight: bold;
    font-size: 20px;
    float: left;
    cursor: pointer;
    margin-right: 70px;
}
.recherche
{
    border: 1px solid black;
    float: right;
    position: relative;
    bottom: 30px;
    right: 150px;
}
nav {
    border: 1px solid black;
    width: 50%;
    margin-top: 15px;
}
.btn
{
    padding: 5px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: blue;
    color: white;
}
nav a
{
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-right: 28px;
    font-size: 17px;
    font-weight: bold;
}
